// 页面最小宽度
html,body{
    // min-width: 1500px;
    overflow-x: hidden;
    background-color: #f0f0f0;
}


// 内容最大宽度
.pageWidth{
    width: 1200px;  
    margin: 0 auto;
}

// 按钮基础样式
.btn{
    cursor: pointer;
    user-select: none;
}

#datepicker{
    outline: none;
    border: 1px solid #ccc;
    padding: 5px 15px;
    width: 150px;
    border-radius: 5px;
}

.datepickerInput {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    width: 115px;
    outline: 0;
    border: 0;
    border-left: 1px solid #ddd;
    background: url("../images/time.jpg") 89px center
      no-repeat;
}

@font-face {
    font-family: time;
    src: url(../css/time.woff);
}